data/*
!data/codebooks/

# These files are too big
study1_cognitive_models.rds
study2_cognitive_models.rds

*.loc
*.aux
*.log
*.out
*.soc
*.ttt
*cache

*.docx


*.pdf

!/analyses/figures/*.pdf

_R1_manuscript.tex



/analyses/figures/fig1.eps
/analyses/code/study1_bayes_models_fit_confidence_rf.rds.rds
/analyses/reports/results_study2.Rmd
/analyses/figures/fig2-1.pdf
/analyses/figures/fig5-1.pdf
/analyses/figures/fig6-1.pdf
/analyses/figures/fig2-1.pdf
