data/


/data/

/data/*.rds
*.loc
*.aux
*.log
*.out
*.soc
*.ttt
*cache

*.docx


*.pdf

!/analyses/figures/*.pdf

_R1_manuscript.tex


/analyses/figures/fig1.eps

/analyses/code/study1_bayes_models_fit_confidence_rf.rds.rds
